{% extends 'base.html.twig' %}

{% block body %}

</div> {# content div #}

 
	<div style="background: url('https://st.depositphotos.com/1063397/4654/i/950/depositphotos_46549179-stock-photo-musician-at-a-concert.jpg');height: 663px;background-size: cover;">


	 	<div>
		<form   style="padding:20%; width:100%"><input type="text" style='width:100%;height:50px;' /></form>
	 	</div>
			 
		 

	</div>
 

<div class="content">
<div class="pure-g">
		<div class="pure-u-1">
			some content
		</div>
</div>
</div>


{% endblock %}