<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}TicketHub Home Page{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/css/pure-extend.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/tickets.css">
        <link rel="stylesheet" type="text/css" href="/css/tabs.css">
    {% endblock %}
</head>

<body>



	{# вынести в отдельны twig файл, без extends, бо криво получается #}

 
	<div style="background: url('https://st.depositphotos.com/1063397/4654/i/950/depositphotos_46549179-stock-photo-musician-at-a-concert.jpg');height: 600px;background-size: cover;">

		<form   style="padding:15%; width:100%">
			<div style="padding:40px; background-color:#fff9; border-radius: 10px;">
			<div style="padding:40px; background-color:#fff9; border-radius: 10px;"> 
				<input placeholder="What are you looking for?" id="mainpage_domain" onkeydown="if (event.keyCode == 13) myFunction(this.value)" type="text"  style='width:100%;height:50px;' />
			</div>
			</div>
		</form>
	 
	</div>
 
<div class="content">
	


	<div class="pure-g comments margintop15">
		<div class="pure-u-1">
			<div class="stars">
									★
									★
									★
									★
									★
											</div> 

			<div class="username"><strong>Anonymous</strong></div>
			<div class="feebacktext">
			So this show was amazing and so worth the wait. I hated that I couldn't see the whole cast but I really enjoyed it. I would absolutely love to see it again in the near future.
			</div>
			<span class="placeandtime">August Wilson Theatre - New York, NY - Sat, Apr 7, 2018</span>
		</div>
	</div>

	<div class="pure-g comments margintop15">
		<div class="pure-u-1">
			<div class="stars">
									★
									★
									★
									★
									★
											</div> 

			<div class="username"><strong>Anonymous</strong></div>
			<div class="feebacktext">
			So this show was amazing and so worth the wait. I hated that I couldn't see the whole cast but I really enjoyed it. I would absolutely love to see it again in the near future.
			</div>
			<span class="placeandtime">August Wilson Theatre - New York, NY - Sat, Apr 7, 2018</span>
		</div>
	</div>

	<div class="pure-g comments margintop15">
		<div class="pure-u-1">
			<div class="stars">
									★
									★
									★
									★
									★
											</div> 

			<div class="username"><strong>Anonymous</strong></div>
			<div class="feebacktext">
			So this show was amazing and so worth the wait. I hated that I couldn't see the whole cast but I really enjoyed it. I would absolutely love to see it again in the near future.
			</div>
			<span class="placeandtime">August Wilson Theatre - New York, NY - Sat, Apr 7, 2018</span>
		</div>
	</div>

	</div>


	<div style="background: #444;height: 200px;background-size: cover; color:white">
		<div class="content">
	


			<div class="pure-g comments margintop15">
				<div class="pure-u-1">

					some backlinks?
				</div>
			</div>
		</div>
	</div>

    </body>
</html>
